<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <p><% if Helpers.is_logged_in?(session_hash)%></p>
    <p>Welcome<%= Helpers.current_user(session).username %></p>
    <p><%= Helpers.current_user(session).balance %></p>
    <p><% else %></p>
    <form action="index.html" method="post">
      <input type="submit" name="" value="homepage">

    </form>
    <% end %>
      <form action="/logout" method="post">
        <input type="submit" name="" value="logout">

      </form>
  </body>
</html>
