<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <p><% if Helpers.is_logged_in?(session_hash)%></p>
    <p><%= @current_user.username%></p>
    <p><%= @current_user.balance %></p>

      <form action="/logout" method="post">
        <input type="submit" name="" value="logout">

      </form>
  </body>
</html>
