<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(session_hash)%>
    <h1>Welcome <%=Helpers.current_user(session).username %></h1>
    <h2>Your balance: <%=Helpers.current_user(session).balance %></h2>
    <% else %>
    <form action="index.html" method="post">
      <input type="submit" name="" value="homepage">

    </form>
    <% end %>
      <form action="/logout" method="post">
        <input type="submit" name="" value="logout">

      </form>
  </body>
</html>
